<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>God Mode</title>
    {% load staticfiles %}
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="main.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124338385-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-124338385-1');
    </script>

</head>
<style>
body{
    background-color: #2B0B38; 

}
.centerHorizontal{
    padding: 20px;
    text-align: center;
}
h1{
    color: #E9CDC9;
}

h2{
  padding-left: 20px;
  padding-top: 20px;
  color: #E9CDC9;
}

h3{
    font-weight: normal;
    color: #E9CDC9;
}

.for-wrapper>form>*{
    margin: 10px;
}

.btn-primary{
    margin-top: 10px !important;
}

.table td, .table th{
    padding: .5em !important;
}
th{
    font-weight: normal !important;
}

/* Every other row will be colored */
@media (min-width: 1px) {
    tbody:nth-of-type(odd) {
        background-color: #E9CDC9;
        color: #563862;
    }
}
@media (min-width: 1px) {
    tbody:nth-of-type(even) {
        background-color: #563862;
        color: #E9CDC9;
    }
}
/* only the first link will be styled  */
td a:nth-child(1){
    padding-right: 10px;
}

.logout{
    position: absolute;
    top: 20px;
    right: 20px;;
}
.allUserInformation{
    background-color: #2B0B38;
}
</style>
<body>
        <div class="container">
            <a href="/logout" class="logout">Logout</a>
            <div class="header"></div>
                <h1 class="centerHorizontal">Dylan's Admin Page</h1>
            </div>
            <div class="contentContainer">
                <div class="allUserInformation">
                    <div class="table-wrapper">
                        <h3>Registered Users</h3>
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Device</th>
                                    <th scope="col">Images</th>
                                    <th scope="col">Videos</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            {% for user in users %}
                                {% csrf_token %}
                            <tbody>
                                <td>{{user.full_name}}</td>
                                <td>{{user.email_address}}</td>
                                <td>{{user.phone_number}}</td>
                                <td>{{user.device_key_name}}</td>
                                <td>{{user.number_pics}}</td>
                                <td>{{user.number_vids}}</td>
                                <td>
                                    <a href="/viewUserInfoGodMode/{{user.device_key_name}}">View</a>
                                    <a href="/deleteUser/{{user.id}}">Delete</a>
                                </td>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="table-wrapper">
                        <h3>Camera Information</h3>
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Serial Number</th>
                                    <th scope="col">Images</th>
                                    <th scope="col">Videos</th>
                                    <th scope="col">RunTime</th>
                                    <th scope="col">Wifi</th>
                                </tr>
                            </thead>
                            {% for camera in devices %}
                            {% csrf_token %}
                            <tbody>
                                <td>{{camera.device_owner.device_key_name}}</td>
                                <td>{{camera.device_key_name}}</td>
                                <td>{{camera.number_pics}}</td>
                                <td>{{camera.number_vids}}</td>
                                <td></td>
                                <td></td>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                   
                    <!-- {% if messages %}
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-wrapper">
                        <h3> Create Event</h3>
                        <form action="/createEvent" method="POST" role="form" style="display: block;">
                            {% csrf_token %}
                            <input type="text" name="eventName" tabindex="1" class="form-control" placeholder="Event Name (required)">
                            <input type="text" name="venueName" tabindex="1" class="form-control" placeholder="Venue Name (required)">
                            <input type="text" name="address" tabindex="1" class="form-control" placeholder="Address (required)">
                            <input type="date" name="startDate" tabindex="1" class="form-control" placeholder="Start Date">
                            <input type="date" name="endDate" tabindex="1" class="form-control" placeholder="End Date">
                            <input type="submit" tabindex="4" class="form-control btn btn-primary" value="Create Event">					
                        </form>
                    </div> 
                    
                    <div class='table-wrapper'>
                        <h3>Event Information</h3>
                        <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Venue</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Images</th>
                                        <th scope="col">Videos</th>
                                        <th scope="col">Dates</th>
                                    </tr>
                                </thead>
                                {% for event in events %}
                                {% csrf_token %}
                                <tbody>
                                    <td>{{event.id}}</td>
                                    <td>{{event.name}}</td>
                                    <td>{{event.venue_name}}</td>
                                    <td>{{event.address}}</td>
                                    <td>{{event.number_pics}}</td>
                                    <td>{{event.number_vids}}</td>
                                    <td>{{event.start_date}} to {{event.end_date}}</td>
                                    <td></td>
                                </tbody>
                                {% endfor %}
                            </table>
                    </div> -->
                </div>
            </div>
        </div>
    </body>
</html>